body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;

  z-index: 1;
}

/* Search Bar Styling */

div.search-box {
    margin: 20px;
    padding: 5px;

    background-color: white;
    width: 700px;
    height: 55px;

    display: inline-block;
    position: absolute;
    z-index: 5;

    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
}

div.search-bar {
    display: inline-block;
    float: left;
    position: absolute;

    margin-top: -52.5px;
    margin-left: 70px;
}

div.search-text {
    display: inline-block;
    position: absolute;
    float: left;
}

input[id=search-box] {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 20px;

    width: 450px;
    border: none;
}

#options-btn {
    height: 40px;
    width: 40px;

    padding: 5px;
    margin: 5px;
}

div.search-controls {
    display: inline-block;
    margin-left: 510px;
    margin-top: 5px;
}

#clear-text-btn {
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: 460px;
}

#search-btn {
    display: inline-block;
}

#directions-button {
    display: inline-block;
}

img.option-btn {
    height: 30px;
    width: 30px;
    padding-left: 15px;
    padding-right: 10px;

    cursor: pointer;
    filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(95%) contrast(91%);
}

img.clear-text-icon {

  height: 20px;
  width: 20px;

  padding-left: 15px;
  padding-right: 10px;

  cursor: pointer;
  filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(95%) contrast(91%);

}


img.close-icon {
    height: 30px;
    width: 30px;
    padding-left: 15px;
    padding-right: 10px;

    margin-top: -20px;

    cursor: pointer;
    filter: invert(69%) sepia(0%) saturate(0%) hue-rotate(273deg) brightness(95%) contrast(91%);

}

div.separator {
    display: inline-block;
    position: absolute;
    background-color: #a3a3a3;

    height: 30px;
    width: 4px;
}

/* Auto Complete Search Results */
div.search-results {
    display: none;
    position:absolute;
    z-index: 5;
}

div.search-result-text {
    font-size: 14px;
    color: #1f1f1f;

    width: 680px;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;

    background-color: white;
    border-top: 1px solid #ababab;
    border-bottom: 1px solid #ababab;

    cursor: pointer;
}

.search-result-text:hover {
    background-color: #f0f0f0;
}

/* Pop Up Warning Styling */
div.popup-warning {
    margin-top: 100px;
    margin-left: 20px;

    font-size: 16px;

    padding: 15px;

    background-color: white;
    width: 450px;
    height: 20px;

    /* display: inline-block; */
    display: none;
    position: absolute;
    z-index: 5;

    -webkit-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -4px rgba(0,0,0,0.75);

    -moz-animation: fadein .5s;      /* Firefox < 16 */
    -webkit-animation: fadein .5s;   /* Safari, Chrome and Opera > 12.1 */
    -o-animation: fadein .5s;        /* Opera < 12.1 */

}

#warning-icon {
    display: inline-block;
    padding-right: 15px;
}

img.warning-icon {
    height: 20px;
    width: 20px;
}

div.warning-message {
    display: inline-block;
}

div.close-icon {
    display: inline-block;
    float: right;
    margin-top: -30px;
    margin-left: 20px;

    cursor: pointer;
}

img.close-icon {
    width: 10px;
    height: 10px;
}

/* CSS Webkits */
/* Transitions */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}
