<!DOCTYPE html>
<html lang="en">
<head>
<title>
Map Box - Web App
</title>

</head>

<body>
<div id='map'>
    <!-- Search Bar -->
    <div class="search-box">
        <div id="options-btn">
            <img class="options-icon option-btn" src="{{ url_for('static', filename='img/menu.svg') }}">
        </div>

        <div class="search-bar">
            <div class="search-text">
                <input id="search-box" type="text" placeholder="Enter Your Location Here... ">
            </div>

            <div id="clear-text-btn">
                <img class="clear-text-icon" src="{{ url_for('static', filename='img/close.svg') }}">
            </div>


            <div class="search-controls">
                <div id="search-btn">
                    <img class="search-icon option-btn" src="{{ url_for('static', filename='img/search.svg') }}">
                </div>

                <div class="separator"></div>

                <div id="directions-button">
                    <img class="directions-icon option-btn" src="{{ url_for('static', filename='img/directions.svg') }}">
                </div>
            </div>
        </div>

        <div id="directions-pop-up">
          <img class="close-directions" src="{{ url_for('static', filename='img/close.svg') }}">
            <div class ="directions-container">
              <img class="direction-icon" src="{{ url_for('static', filename='img/empty-circle.svg') }}">
              <input id="directions-search-box" type="text" placeholder="Choose Your Starting Point... ">

              <br>

              <img class="direction-icon" src="{{ url_for('static', filename='img/filled-circle.svg') }}">
              <input id="directions-search-box" type="text" placeholder="Choose Your Destination... ">
            </div>
        </div>

        <div class="search-results">

        </div>
    </div>

    <div class="popup-warning">
        <div id="warning-icon">
            <img class="warning-icon" src="{{ url_for('static', filename='img/warning.svg') }}">
        </div>

        <div class="warning-message">Could not Find Search Location. Please Try Again.</div>

        <div class="close-icon">
            <img class="close-icon" src="{{ url_for('static', filename='img/close.svg') }}">
        </div>

    </div>

</div>


</body>

<!-- TODO: require.js for creating config -->

<!-- Default Map Box CSS --> <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
<!-- Main Styles CSS -->    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

<!-- Mapbox GL JS -->   <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<!-- Main App JS -->    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
<!-- jQuery JS -->      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Config JS -->      <script type="text/javascript" src="{{ url_for('static', filename='js/config/config.js') }}"></script>
<!-- Polygon JS -->     <script type="text/javascript" src="{{ url_for('static', filename='js/polygon.js') }}"></script>
<!-- Route JS -->     <script type="text/javascript" src="{{ url_for('static', filename='js/search.js') }}"></script>
